.about-us {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;

  .title {
    margin-bottom: 56px;
  }

  .mentors-title {
    text-align: center;
  }

  .information-list {
    display: flex;

    .other-information {
      max-width: 486px;
      margin-top: 109px;
      font: 400 16px/140% "Inter";
      color: var(--white-color);
    }
  }

  .mentors {
    max-width: 652px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .mentor-image {
      position: relative;
      z-index: 2;
      object-fit: cover;
      border-radius: 50%;
    }

    .mentor {
      position: relative;
    }

    .mentor:first-child img,
    .mentor:nth-child(2) img,
    .mentor:nth-child(3) img {
      object-position: center;
    }

    .mentor:first-child img {
      object-position: -5px center;
    }

    .mentor:nth-child(2) {
      margin-top: -62px;
      img {
        object-position: center -13px;
      }
    }

    .mentor::before {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 188px;
      height: 188px;
      left: -2px;
      top: -2px;
      position: absolute;
      background: var(--purple-blue-gradient);
      content: '';
      border-radius: 50%;
    }

    .mentors-list {
      display: flex;
      gap: 0 13px;
      margin-top: -6px;
    }

    .mentor-title {
      margin-top: 16px;
      font: 500 24px/120% "Clash Display";
      color: var(--white-color);
    }

    .mentor-description {
      max-width: 185px;
      font: 400 14px/140% "Inter";
      color: var(--white-color);
    }
  }
}
