.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
  .logo-header {
    display: flex;
    max-width: 169px;
    svg {
      width: 100%;
    }
  }

  .menu {
    display: flex;
    list-style-type: none;
    color: var(--white-color);
    font-size: 16px;
    font-family: Inter;
    gap: 0 48px;
  }

  .menu-item {
    cursor: pointer;
  }
}
